<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Web04_HelloServlet</display-name>
  <servlet>
    <servlet-name>hi</servlet-name>
    <servlet-class>show.HelloServlet</servlet-class>
    <init-param>
      <param-name>data1</param-name>
      <param-value>aaa</param-value>
    </init-param>
    <init-param>
      <param-name>data2</param-name>
      <param-value>bbb</param-value>
    </init-param>
    <init-param>
      <param-name>data3</param-name>
      <param-value>ccc</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description></description>
    <display-name>HelloS2</display-name>
    <servlet-name>HelloS2</servlet-name>
    <servlet-class>show.HelloS2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hi</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloS2</servlet-name>
    <url-pattern>/S2</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>S3</display-name>
    <servlet-name>S3</servlet-name>
    <servlet-class>show.S3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S3</servlet-name>
    <url-pattern>/S3</url-pattern>
  </servlet-mapping>
</web-app>