<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Web05_Response__Request</display-name>
	<servlet>
		<servlet-name>Res</servlet-name>
		<servlet-class>response.RespServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Res</servlet-name>
		<url-pattern>/RS1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Res2</servlet-name>
		<servlet-class>response.RespServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Res2</servlet-name>
		<url-pattern>/RS2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Res3</servlet-name>
		<servlet-class>response.RespServlet3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Res3</servlet-name>
		<url-pattern>/RS3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Res4</servlet-name>
		<servlet-class>response.RespServlet4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Res4</servlet-name>
		<url-pattern>/RS4</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Res5</servlet-name>
		<servlet-class>response.RespServlet5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Res5</servlet-name>
		<url-pattern>/RS5</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>